.form-group {
    text-align: center;
    
}

.bar{
  margin:0 auto;
  width:575px;
  border-radius:50px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  margin: 5px 5px;
  height:45px;
  border: none;
  width:500px;
  font-size:16px;
  outline: none;
  
}
.voiceSearch{
  height:20px;
  position:relative;
  left:1px;
}

.buttons{
  margin-top:30px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  border-radius:4px;
  outline:none;
}
.button:hover{
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color:#808080;
}
.button:focus{
  border:1px solid #4885ed;
  padding: 9px 19px;
}

/* image search */
.logo-subtext {
  display: flex;
}

.subtext_images {
  font-size: larger;
  color: #4885ed;
  align-self: flex-end;
  position: absolute;
  margin-left: -70px;
  margin-bottom: 40px;
}
/* advanced */
#nav_image {
  margin-top: 7px;
  margin-right: 1100px;
}
nav {
  background-color: #f1f1f1;
  padding-bottom: 20px;
}
.nav-item {
  margin-top: 10px;
}
.container-fluid {
  margin-top: 20px;
  margin-bottom: 40px;
}
.text-left {
  padding-top: 10px;
  margin: 20px;
  color: #d93025;
  font-size: larger;
}
.text {
 
  margin: 20px;
  
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html, .bar {
    font-size: 80%;
  }
  #nav_image {
    margin-top: -1px;  
    margin-right: 600px;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html, .bar {
    font-size: 68%;
  }
  .bar {
      width: auto;
  }
  .searchbar {
      width: 70%;
  }
  #nav_image {
    margin-top: -1px;  
    margin-right: 400px;
  }
}
/* 540px / 16 px = 33.75em */
@media (max-width: 33.75em) {
  #nav_image {
    margin-top: -1px;  
    margin-right: 200px;
  }
}


/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html, .bar {
    font-size: 75%;
  }
  .bar {
      width: 80%;
  }
  .searchbar {
      width: 80%;
      font-size: larger;
  }
  #nav_image {
    margin-top: -1px;  
    margin-right: 10px;
  }
}
/* 280 px / 16px = 17.5em */
@media (max-width: 17.5em) {
  #nav_image {
    padding-left: 2px;
    padding-right: 70px;
  }
}





